<h3 class="my-5"> About Us </h3>

<div class="row gx-5">
    <img src="~/Images/contact/contact1.jpg" class="img-fluid col-5" alt="AboutUs Image" />
    <div class="col-7">
        <h1> Te Iho | Our Story </h1>
        <p>
            Our NZPureJadeShop includes a Jade carving factory where you can meet with our locally trained carvers and learn more about the creation and carving process required to create these beautiful pieces. You also have the opportunity to discuss your purchase with the carver who created it or talk to them about creating your own personal piece of jade jewellery. Our craftsmen are involved in the whole process of creating these beautiful pieces, from locating and extracting the Jade to carving and selling it. This understanding allows them to create individual pieces which will be treasured for generations.
        </p>
    </div>
</div>


<div style="margin-top: 40px;"></div>

<div class="row gx-5">
    <img src="~/Images/contact/contact2.jpg" class="img-fluid col-5" alt="StoryOfJade Image" />
    <div class="col-7">
        <h1> Story of Jade</h1>
        <p>
            On the central West Coast in the South Island of New Zealand lies a place where the mountains stand tall, the rivers run deep and the ocean goes as far as the eye can see. A haven of sorts, full of history and tradition bordered by New Zealand's famous rain forests. Jade was the first great treasure of this beautiful shore. It was the focus of an ancient sophisticated stone working industry. Jade provided Maori with sharp edged woodworking tools harder than metals as well as decorative and ceremonial pieces and prized weapons. Jade was the cornerstone of Maori life, but few were allowed to carve it. Only those 'called by the stone' were allowed to cut into its sacred core and release the shape within. These ancient traditions, bound within the heart of jade, remain alive today in the hands of those who carve the stone, and all who honour this land and its past for sacredness and beauty. We have also sourced and carved jade from all points of the globe including British Columbia, Siberia, Australia and Mexico.
        </p>
    </div>
</div>

<div style="margin-top: 10px;"></div>
